<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('partials/header')%>
    <title>Hello World</title>
  </head>
  <body>

    <%-include('partials/navigation')%>

    <div class="container p-4">
      <div class="row">
        <% books.forEach(function (book) { %>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <%= book.title %> / <%= book.author %>
                    </div>
                    <img src="<%= book.image %>" class="card-img-top">
                    <div class="card-body">
                      <p><%= book.description %></p>
                    </div>
                    <div class="card-footer">
                        <a href="/delete/<%= book.id %>" class="btn btn-danger">
                            DELETE
                        </a>   
                    </div>
                  </div>
            </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
